.note-actions {
    margin: auto;
    text-align: center;
    &:hover {
        a {
            color: #333;
        }
    }
    a {
        color: #fff;
        &:hover {
            color: #333;
        }
    }
}