<div class="container white-container" [ngStyle]="{'background-color': myNote.color ? myNote.color : '#ffffff'}">
    <div class="note-contents">
        <p><b>{{myNote.title}}</b></p>
        <p>{{myNote.description}}</p>
    </div>
    <div class="row note-actions" *ngIf="myNote.status !== 'Deleted'" [ngStyle]="{'color': myNote.color ? myNote.color : '#ffffff'}">
        <div class="col-12">
            <div class="note-link">
                <a (click)="openModal(myNote);">
                    <i class="fa fa-edit"></i>
                    <span class="sr-only">Edit Note</span>
                </a>
            </div>
            <div class="note-link">
                <a [popover]="remindPopover" popoverPlacement="right">
                    <i class="fa fa-bell" aria-hidden="true"></i> <span class="sr-only">Set remider</span>
                </a>
            </div>
            <div class="note-link" *ngIf="myNote.status === 'Active'">
                <a (click)="archive(myNote)">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="sr-only">archive</span>
                </a>
            </div>
            <div class="note-link" *ngIf="myNote.status === 'Archive'">
                <a (click)="makeActive(myNote)">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="sr-only">un archive</span>
                </a>
            </div>
            <div class="note-link">
                <a [popover]="colorPopover" popoverPlacement="right">
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    <span class="sr-only">set colours</span>
                </a>
            </div>
            <div class="note-link">
                <a (click)="deleteNote(myNote)">
                    <i class="fa fa-recycle" aria-hidden="true"></i>
                    <span class="sr-only">delete note</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row note-actions" *ngIf="myNote.status === 'Deleted'" [ngStyle]="{'color': myNote.color ? myNote.color : '#ffffff'}">
        <div class="col-12">
            <div class="note-link">
                <a (click)="makeActive(myNote)">
                    <i class="fa fa-recycle" aria-hidden="true"></i>
                    <span class="sr-only">recycle</span>
                </a>
            </div>
            <div class="note-link">
                <a (click)="deleteForEver(myNote)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span class="sr-only">colors</span>
                </a>
            </div>
        </div>
    </div>
</div>
<popover-content #remindPopover title="Remind me" [animation]="true" [closeOnClickOutside]="false">
    <div class="top-margin3 bottom-margin3">
        <div class="remind-section">
            <p><b><i class="fa fa-clock-o" aria-hidden="true"></i> Set date and time</b></p>
            <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time" #noteRemind>
            <owl-date-time #dt2></owl-date-time>
        </div>
        <div class="row top-margin3">
            <div class="col-6 text-center"><button class="btn btn-light" (click)="remindPopover.hide()">Cancel</button></div>
            <div class="col-6 text-center"><button class="btn btn-primary" (click)="setRemind(myNote,noteRemind);remindPopover.hide()">Set</button></div>
        </div>
    </div>
</popover-content>

<popover-content #colorPopover [animation]="true" [closeOnClickOutside]="false">
    <div class="top-margin3 bottom-margin3">
        <div>
            <p><b>Set colour</b></p>
            <div class="row">
                <div class="col-4">
                    <div class="color-box red" (click)="setColor('#FF5733',myNote);colorPopover.hide()"></div>
                </div>
                <div class="col-4">
                    <div class="color-box yellow" (click)="setColor('#FFBD33',myNote);colorPopover.hide()"></div>
                </div>
                <div class="col-4">
                    <div class="color-box blue" (click)="setColor('#3341FF',myNote);colorPopover.hide()"></div>
                </div>
            </div>
            <div class="row top-margin1">
                <div class="col-4">
                    <div class="color-box green" (click)="setColor('#47FF33',myNote);colorPopover.hide()"></div>
                </div>
                <div class="col-4">
                    <div class="color-box pink" (click)="setColor('#F5AADE',myNote);colorPopover.hide()"></div>
                </div>
                <div class="col-4">
                    <div class="color-box white" (click)="setColor('#FFFFFF',myNote);colorPopover.hide()"></div>
                </div>
            </div>
        </div>
        <div class="row top-margin3">
            <div class="col-12 text-center"><button class="btn btn-primary" (click)="colorPopover.hide()">Cancel</button></div>
        </div>
    </div>
</popover-content>
<ngx-smart-modal #noteEditModal{{myNote._id}} identifier="noteEditModal{{myNote._id}}">
    <div class="row mod-content">
        <div class="col-12 bottom-margin2">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" [(ngModel)]="myNote.title">
        </div>
        <div class="col-12 bottom-margin3">
            <textarea class="form-control" rows="5" name="description" id="description" placeholder="Write a note" [(ngModel)]="myNote.description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-left"><button class="btn btn-light" (click)="closeModal(myNote._id)">Close</button></div>
        <div class="col-6 text-right"><button class="btn btn-primary" (click)="editNote(myNote)">save</button></div>
    </div>
</ngx-smart-modal>