.white-container {
    padding: 0px;
    .note-contents {
        padding: 12px;
    }
}

.note-actions {
    margin: auto;
    text-align: center;
    padding: 12px;
    &:hover {
        a {
            color: #333;
        }
    }
    a {
        &:hover {
            color: #333;
        }
    }
}

.color-box {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
    margin: auto;
    &.red {
        background-color: #FF5733;
    }
    &.yellow {
        background-color: #FFBD33;
    }
    &.blue {
        background-color: #3341FF;
    }
    &.green {
        background-color: #47FF33;
    }
    &.pink {
        background-color: #F5AADE;
    }
    &.white {
        background-color: #fff;
    }
}

.mod-content {
    margin: 36px 0px 0px;
}