<div class="container white-container">
    <p><b>{{myNote.title}}</b></p>
    <p>{{myNote.description}}</p>

    <div class="row note-actions" *ngIf="myNote.status !== 'Deleted'">
        <div class="col-3">
            <a (click)="remind(myNote)"><i class="fa fa-bell" aria-hidden="true"></i> <span class="sr-only">remind</span></a>
        </div>
        <div class="col-3" *ngIf="myNote.status === 'Active'">
            <a (click)="archive(myNote)"><i class="fa fa-download" aria-hidden="true"></i> <span class="sr-only">archive</span></a>
        </div>

        <div class="col-3" *ngIf="myNote.status === 'Archive'">
            <a (click)="makeActive(myNote)"><i class="fa fa-download" aria-hidden="true"></i><span class="sr-only">colors</span></a>
        </div>

        <div class="col-3">
            <a (click)="showColors(myNote)"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="sr-only">colors</span></a>
        </div>
        <div class="col-3">
            <a (click)="deleteNote(myNote)"><i class="fa fa-recycle" aria-hidden="true"></i> <span class="sr-only">recycle</span></a>
        </div>
    </div>
    <div class="row note-actions" *ngIf="myNote.status === 'Deleted'">
        <div class="col-3">
            <a (click)="deleteForEver(myNote)"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="sr-only">colors</span></a>
        </div>
        <div class="col-3">
            <a (click)="makeActive(myNote)"><i class="fa fa-recycle" aria-hidden="true"></i> <span class="sr-only">recycle</span></a>
        </div>
    </div>
</div>