<div class="container white-container" (click)="elFocusAll()">
    <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 bottom-margin2" *ngIf="showAll">
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="Title">
            </div>
            <div class="col-12 bottom-margin2">
                <textarea class="form-control" rows="2" formControlName="description" id="descriptions" placeholder="Write a note"></textarea>
            </div>
            <div class="col-12 text-right" *ngIf="showAll"><button type="submit" class="btn btn-primary">save</button></div>
        </div>
    </form>
</div>
<div class="row container-12 cdkDragBoundary cdk-drop-list" (cdkDropListDropped)="dropEvent($event)" cdkDropList *ngIf="gridType === 'full'">
    <div cdkDrag class="col-12" *ngFor="let note of activeNotes">
        <app-notes-list [myNote]="note"></app-notes-list>
    </div>
</div>

<div class="row container-12 cdkDragBoundary cdk-drop-list" (cdkDropListDropped)="dropEvent($event)" cdkDropList *ngIf="gridType === 'grid'">
    <div cdkDrag class="col-xs-12 col-sm-3" *ngFor="let note of activeNotes index as i">
        <app-notes-list [myNote]="note"></app-notes-list>
    </div>
</div>